/* eslint-disable */
td:nth-child(-n + 3) {
  padding: 0;
}

thead {
  position: sticky !important;
  top: 0;
  z-index: 1056;
}

td div.cell-editable {
  width: 100%;

  * {
    padding: 0.25rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .form-control:focus {
    border: 0 !important;
    height: 3rem;
  }

  &.cell-editing {
    border: 2px solid #217cbb;
  }
}
